* {
    font-size: 20px;
    
}
.moda-cabeçalho {
    background-color: #BB86FC;
    color: white;
}

.moda-geral {
    background-color: #424250;
    color: white;
}

.casa-cabeçalho {
    background-color: #00c4b4;
    color: white;
}
.casa-geral {
    background-color: #424250;
    color: white;
}

